h1,
footer {
    text-align: center;
}

main img {
    display: grid;
    grid-template-columns: 1;
    margin: 0 auto;

}

img {
    
    padding: 1px;
    background: black;
    animation: fade 15s;
}


@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}