

@media screen and (max-width: 767px) {

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    :root {
        --blue-primary: #1D3557;
        --blue-light: #457B9D;
        --blue-lighter: #A8DADC;
        --blue-dark: #0B2545;
        --blue-accent: #2EC4B6;
        --gray-muted: #F1FAEE;
        --text-dark: #1C1C1C;
        --text-light: #F8F9FA;

    }

    h2 {
        font-size: 2.5rem;
        background-color: var(--blue-dark);
        color: var(--text-light);
        text-align: left;
        padding: 10px;
        width: 100%;
        margin-bottom: 20px;

    }

    main {
        max-width: 480px;
        margin: 0 auto;
        padding: 10px;
    }

    h1 {
        font-size: 3rem;
        color: var(--blue-primary);
        text-align: center;
        margin-bottom: 20px;
        width: 500px;
    }

    figure {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
        margin-bottom: 20px;
    }

    img {
        width: 100%;
        height: auto;
        border-radius: 10px;
    }

    img:hover {
        transform: scale(1.05);
        transition: transform 0.3s ease;
    }

    figcaption {
        font-size: smaller;
        text-align: center;
        padding: 5px;
        margin-bottom: 40px;
        margin-top: 10px;
    }

    footer {
        background-color: var(--blue-dark);
        color: var(--text-light);
        text-align: center;
        padding: 10px;
        width: 100%;
    }

    .hamburger {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 28px;
        background: none;
        padding: 5px;
        color: var(--gray-muted);
        border: none;
        cursor: pointer;
    }

    .nav-menu {
        position: absolute;
        top: 80px;
        background: var(--blue-lighter);
        flex-direction: column;
        display: none;
        width: 100%;
        padding: 10px;
    }

    .nav-menu.active {
        display: flex;
    }

    .nav-menu li {
        text-align: center;
        padding: 10px 0;
    }

    a {
        color: var(--text-dark);
        text-decoration: none;
        font-size: 1.5rem;
    }

    a:hover {
        color: var(--blue-light);
    }


}